# stop packages from running code automatically during installation
ignore-scripts=true

# force npm to run a security audit after every install
audit=true

# fail installation or alerts if vulnerabilities meet high or critical thresholds
audit-level=high

# require a strict lockfile match to prevent silent, unrecorded updates
save-exact=false
